@import url('https://fonts.googleapis.com/css2?family=Abel&family=Crimson+Text:ital@1&family=Hind+Siliguri:wght@300&family=Lora:ital,wght@1,700&display=swap');

header{
    display: grid;
    grid-template-columns: 200px auto;
    background-color: black;
    text-align: center;
}
.logo{
    width: 200px;
    grid-row: 1/2;
    grid-column: 1/2;
}
nav{
    display: flex;
    justify-content: space-around;
    align-self: center;

}
nav a{
    display: flex;
    color: white;
    transition: transform .5s;
    text-align: center;
    font-size: 25px;
}
nav a:hover{
    text-decoration: none;
    transform: scale(1.1);
    font-size: 25px;
    font-size-adjust: 25px;
}

footer{
    background-color: white;
    display: grid;
    margin-top: 300px;
}