@import url('https://fonts.googleapis.com/css2?family=Abel&family=Crimson+Text:ital@1&family=Hind+Siliguri:wght@300&family=Lora:ital,wght@1,700&display=swap');

header{
    display: grid;
    grid-template-columns: 200px auto;
    background-color: black;
    text-align: center;
}
.logo{
    width: 200px;
    grid-row: 1/2;
    grid-column: 1/2;
}
nav{
    display: flex;
    justify-content: space-around;
    align-self: center;
}
nav a{
    display: flex;
    color: white;
    transition: transform .5s;
    text-align: center;
    font-size: 28px;
    font-size-adjust: 2;
    /* font-family: "Lora"; */
    text-decoration: none;
}
nav a:hover{
    text-decoration: none;
    transform: scale(1.1);
    font-size: 25px;
    font-size-adjust: 25px;
}
body{
    background-color: rgb(181, 223, 118);
    margin: 0;
    padding: 0;
    font-family: "Crimson Text";
}
#content{
    margin: 0 auto;
    max-width: 1600px;
}
.home-grid{
    display: grid;
    grid-template-columns: 3fr .5fr 3fr;
}
.jaiddon-text{
    font-family: "Lora";
    grid-row: 1/2;
    grid-column: 4/5;
}
h2{
    font-family: "Abel";
}
h3{
    font-family: "Hind Siliguri";
}
.img-card{
    grid-row: 2/4;
    grid-column: 1/2;
    width: 100%;
    align-self: center;
    margin-left: 30px;
    padding-top: 30px;
}
.jaiddon-card{
    grid-row: 2/4;
    grid-column: 3/4;
    width: 90%;
    align-self: center;
}
.jaiddon-text{
    grid-row: 4/5;
    grid-column: 1/2;
    justify-self: center;
}
.text2-card{
    grid-row: 5/6;
    grid-column: 1/4;
    justify-self: center;
    font-size: 25px;
    transition: transform .5s;
    margin: 60px;
}
.text2-card:hover{
    text-decoration: none;
    transform: scale(0.8);
    font-size: 25px;
    font-size-adjust: 2;
}
.jaiddon-img{
    grid-row: 6/7;
    grid-column: 1/2;
    justify-self: center;
    width: 200px;
}
.jaiddon2-img{
    grid-row: 6/7;
    grid-column: 3/4;
    justify-self: center;
}
footer a{
    color: rgb(173, 77, 77);
    transition: transform .5s;
    font-family: "Crimson Text";
    text-decoration: none;
    font-size: 20px;
}
footer .copyright{
    text-align: center;
    grid-column: 1/4;
    grid-row: 2/3;
    font-family: "Crimson Text";
}
footer h3{
    align-self: center;
    justify-content: center;
}
.website{
    display: flex;
    justify-content: space-around;
}
.website img{
    width: 150px;
    padding-top: 10px;
}
.website a:nth-of-type(2){
    margin-left: 10px;
    margin-right: 10px;
}
.contactus{
    padding-left: 100px;
}
.needhelp{
    padding-left: 100px;
}
footer a:hover{
    text-decoration: none;
    transform: scale(1.1);
    font-size: 30px;
    font-size-adjust: 2;
}
footer{
    background-color: white;
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr 2fr;
}